.booking-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: palevioletred;
  }
  
  .form-field {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-field input,
  .form-field select,
  .form-field textarea {
    width: 80%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover{
    background-color: rgb(71, 71, 71);
    color: white;
  }