.cart-container {
  max-width: 700px;
  margin: 0 auto;
  margin-left: 400px;
  padding-left: 100px;
}

.cart-items {
  margin-top: 30px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: palevioletred;
  margin-bottom: 15px;
  border-radius: 10px;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
}

.item-name {
  margin-left:20px;
  max-width: 400px;
}

.item-price {
  font-weight: bold;
  padding-left: 30px;
}

.remove-button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: rgb(71, 71, 71);
 }

h1 {
  text-align: center;
}

.sideBarStyle{
  display: block;
    margin: 25px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sideBarStyle:hover{
  background-color: black;
}

.navBarStyle{
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  transition: 'background-color 0.3s ease, color 0.3s ease',
}

.navBarStyle:hover{
  background-color: palevioletred;
}

.reducer1{
  background-color: black;
  margin-left: 10px;
  color:white;
  border-radius: 3px;

}
.reducer2{
  background-color: black;
  margin-right: 10px;
  color: white;
  border-radius: 3px;

}

.reducer1:hover{
  background-color: gray;
}

.reducer2:hover{
  background-color: gray;
}

.item-quantity{
 margin: 3px;
}

.total{
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color:   rgb(0, 0, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 37px;
}
