.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: 300px;
  }
  .info-label{
    font-size: 20px;
  }

  .info-value
  {
    font-size: 18px;
    color: white;
    background-color:rgb(216, 112, 147);
    border-radius: 4px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .social-media-icons {
    display: flex;
  }
  
  button {
    background: none;
    border: none;
    margin: 0 10px;
    cursor: pointer;
  }
  
  button i {
    font-size: 24px;
  }
  
  button i:hover {
    color: #007bff;
  }
  
.social-media-icons {
    font-size: 50px;
    margin-right: 10px;
    color: white;
  }

.icon-bg{
  background-color: palevioletred;
  color: darkmagenta
}

